/* 

*/
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  --color-light-pink: #ffdeda;
  --color-medium-pink: #f0afa7;
  --color-dark-pink: #987c78;
  --color-light-brown: #716157;
  --color-dark-brown: #5b4d46;
  --color-gray: #777777;
}

body {
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

/* Most Outer Container */
.landing {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100vh;
}

/* Image: Hippo */
.landing__img {
  position: relative;
  background-color: rgba(255, 222, 218, 0.4);
}

.landing__img img {
  display: inline-block;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Coming Soon Container*/
.landing__content {
  text-align: center;
  padding: 2rem 3rem;
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 70%;
}

/* Logo */
.logo {
  display: inline-block;
  width: 120px;
  margin-top: 2%;
  margin-bottom: 10%;
}

/* Content */
.heading {
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  color: var(--color-light-brown);
  margin-bottom: 7%;
}

.content {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  color: var(--color-dark-brown);
  line-height: 2;
  margin-bottom: 10%;
}

/* Countdown */
.countdown {
  font-size: 2.2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 15%;
}

.countdown div {
  width: 9rem;
  height: 9rem;
  color: var(--color-gray);
  border: solid 0.07rem var(--color-medium-pink);
  border-radius: 10rem;
  padding-top: 1.6rem;
  margin: 0.5rem;

  position: relative;
}

.countdown div:first-child {
  border-width: 0.2rem;
}

.countdown span {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
}

/* landscape view */
@media (orientation: landscape) {
  body {
    display: none;
  }
}

/*portrait view for ipad pro*/
@media (orientation: portrait) and (min-width: 1024px) {
  html {
    font-size: 70%;
  }

  .landing {
    display: block;
  }

  .landing__img {
    height: 48vh;
    top: 52vh;
  }

  .landing__img img {
    width: 40%;
  }

  .landing__content {
    height: 52vh;
    bottom: 48vh;
  }

  .container {
    transform: translate(-50%, -35%);
  }

  .logo {
    margin-top: 4%;
    width: 140px;
  }
}

/*portrait view for ipad*/
@media (orientation: portrait) and (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 55%;
  }

  .landing {
    display: block;
  }

  .landing__img {
    height: 48vh;
    top: 52vh;
  }

  .landing__img img {
    width: 40%;
  }

  .landing__content {
    height: 52vh;
    bottom: 48vh;
  }

  .container {
    transform: translate(-50%, -35%);
  }

  .logo {
    margin-top: 4%;
  }
}

/*portrait view for phones*/
@media (orientation: portrait) and (max-width: 767px) and (min-width: 321px) {
  html {
    font-size: 40%;
  }

  .landing {
    display: block;
  }

  .landing__img {
    height: 48vh;
    top: 52vh;
  }

  .landing__img img {
    width: 40%;
  }

  .landing__content {
    height: 52vh;
    bottom: 48vh;
  }

  .container {
    transform: translate(-50%, -35%);
  }

  .logo {
    width: 80px;
    margin-top: 4%;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  html {
    font-size: 35%;
  }

  .landing {
    display: block;
  }

  .landing__img {
    height: 48vh;
    top: 52vh;
  }

  .landing__img img {
    width: 40%;
  }

  .landing__content {
    height: 52vh;
    bottom: 48vh;
  }

  .container {
    transform: translate(-50%, -35%);
  }

  .logo {
    width: 80px;
    margin-top: 4%;
  }
}
